{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{post.title}}</h1>
{% if post.writer %}
작성자 : <a href="{% url 'users:mypage' post.writer.id %}">{{post.writer}}</a><br>
{% else %}
작성자 : 알 수 없음<br>
{% endif %}
날짜: {{post.pub_date}}
<hr>
<a href="{% url 'main:likes' post.id %}">
    {% if user in post.like.all %}
    취소
    {% else %}
    좋아요
    {% endif %}
</a>
{{post.like_count}}개

{% if post.image %}
    <p><img src="{{post.image.url}}" alt="사진"></p>
{% endif %}
<p>{{post.body}}</p>

<p>태그 : 
    {% for tag in post.tags.all %}
    <!-- 태그 선택 시 검색 되게끔 추가 -->
    <a href = "{% url 'main:tag_posts' tag.pk %}">{{ tag.name }}</a>
    {% endfor %}
</p>

{% if post.writer == user %}
<a href = "{% url 'main:edit' post.id %}">수정하기</a>
<a href = "{% url 'main:delete' post.id %}">삭제하기</a>
{% endif %}
<div class="comment_container">
    <div class="comment_form">
        <h2>댓글 작성하기</h2>
        <form method="POST" action="{% url 'main:detail' post.id %}">
            {% csrf_token %}
            <input type="text" name="content">
            <input type="submit" name="submit">
        </form>
    </div>
    <div class="comment_list">
        {% for c in comments %}
        <hr>
        <h4>작성자 : {{c.writer}}</h4>
        <p>내용 : {{c.content}}</p>
        <p>{{c.pub_date}}</p>
        <a href = "{% url 'main:delete_comment' c.id %}">삭제하기</a>
        {% endfor %}
    </div>
</div>

{% endblock %}