{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>안녕하세요! 정세윤입니다.</h1>
<img src="https://i.ibb.co/3Rsbtv7/2.jpg" alt="2" border="0" style="height: 300px; width: 300px;" >
<img src="https://i.ibb.co/YhWdWcZ/image.png" alt="image" border="0" id="image_back">
<br>
<a href="{% url 'new' %}">글 쓰기</a>

<h1>글 목록</h1>

<div>
    {% for post in posts %}
    <div>
        <h3>{{post.title}}</h3>
        {{post.writer}}<br>
        {{post.summary}}
        <a href="{%url 'detail' post.id %}">...자세히</a>
    </div>
    {% endfor %}
</div>


<h2>INFJ</h2>
<h2>20학번 미개봉 중고 복학생...</h2>
<h2>산책과 카페가는걸 좋아합니다</h2>
<h2>좋아하는 영화는 마블영화 아이언맨 짱짱맨</h2>


{% endblock %}